/* Write your CSS code here. */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
}

.card-container {
  background-color: #ffffff;
  max-width: 600px;
  padding: 26px;
  width: 80%;
  border-radius: 13px;
}

@media screen and (min-width: 768px) {
  .card-container {
    padding: 30px;
  }
}

@media screen and (min-width: 992px) {
  .card-container {
    padding: 60px;
  }
}

.feedback-app-container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 17px;
  text-align: center;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .heading {
    font-size: 30px;
  }
}

.emoji-list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin-top: 25px;
  list-style-type: none;
}

.emoji-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
}

.emoji-image {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

@media screen and (min-width: 992px) {
  .emoji-image {
    width: 60px;
    height: 60px;
  }
}

.emoji-name {
  color: #1e293b;
  font-size: 14px;
  font-family: 'Roboto';
}

@media screen and (min-width: 992px) {
  .emoji-name {
    font-size: 13px;
  }
}

.thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love-emoji {
  width: 58px;
  height: 50px;
}

.header {
  color: #0f172a;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto';
  text-align: center;
}

.feedback {
  color: #0f172a;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Roboto';
  text-align: center;
}
